/*Message input*/
input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 25px;	
}

.chatTopbar {
	text-align: center;
	position: fixed;
	width: 100%;
    background-color: white; 
    top: 0;
    height: 7vh;
    padding-top: 10px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

#messages {
	overflow-y: scroll;
	position: absolute;
	top:7vh;
	bottom:12vh;
	width:100%;
	padding: 0 5px;
}

#messages::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.message-container.ui.message {
	position: static;
	margin: 2px;
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
	max-width: 70%;
    display: inline-block;
}

.message-container.ui.message:last-child {
    margin-bottom: 12px;
}

.ui.message.ownMessage {
	background-color: #ee82ee;
	float:right;
}

.name {
	font-style: italic;
	padding-left: 10px;
}

/* The Close Button (x) */
.closeChat {
	position: absolute;
	left: 10px; top: 10px;
	color: #000;
	cursor: pointer;
}

#submitChat {
    width: 8vh;
    height: 8vh;
    position: absolute;
}

#textArea {
	flex-grow: 7;
	margin-left: 1em;
}

#message-form {
    position: fixed;
    width: 100%;
    background-color: white;
    bottom: 0;
    height: 12vh;
}

#textAndButton {
	display: flex;
    margin-top: 6px;
}
#buttonArea {
	flex-grow: 1;
	margin-left: 2em;
    margin-right: 4em;
}
